Babel==2.8.0
bleach==3.1.5
boto3==1.16.9
dj-database-url==0.5.0
Django==3.1.2
django-appconf==1.0.4
django-clamd==0.4.0
django-cryptography==1.0
django-decouple==2.1
django-google-translate==1.1
django-s3direct==1.1.8
django-storages==1.10.1
docutils==0.16
Jinja2==2.11.2
Pillow==3.3.0
psycopg2==2.8.6
python-dateutil==2.8.1
s3transfer==0.3.3
whitenoise==5.2.0
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3